@import "../../App.scss";

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: $shadow;
}

.item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    width: 100%;
    padding: 1.5rem;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: transparent;

    img {
        width: 2.4rem;
    }

    p {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.9rem;
        color: #000;
    }
}

.active {
    display: flex;
    align-items: center;
    column-gap: 10px;
    width: 100%;
    padding: 1.5rem;
    border-radius: 10px;
    background-color: $green;
    border: none;
    outline: none;
    img {
        width: 2.4rem;
    }
    p {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.9rem;
        color: #fff;
    }
}
