@import "../../App.scss";

.title,
.subTitle {
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 3.3rem;
    color: $green;
}
.subTitle{
    color: #000;
}
.description{
    margin-top: 3.5rem;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.9rem;
}
.text{
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin: 15px 0 32px 0;
}
.btnHolder{
    width: 15rem;
}