@import "../../../App.scss";

.nav {
    padding: 15px 0;
    border-bottom: 1px solid $grey;

    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 6rem;

        li {
            cursor: pointer;
        }
    }

    .item {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.9rem;
        color: #000;
        
        &:hover{
            color: $green;
        }
    }
}

@media screen and (max-width: 575px) {
    .nav{
        display: none;
    }
}