@import "../../../App.scss";

.wrapper,
.img,
.img img,
.content {
    width: 100%;
    border-radius: 10px;
}
.wrapper,
.img,
.img img {
    height: 44rem;
}

.img {
    position: relative;
}

.content {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 2rem;

    p {
        font-weight: 500;
        font-size: 2.8rem;
        line-height: 3.3rem;
        color: #ffffff;
        text-align: left;
    }
}
.btnHolder {
    width: 15rem;
}
