@import "../../App.scss";

.form {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    row-gap: 15px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;

    img {
        max-width: 10rem;
    }

    label,
    p,
    input {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.9rem;
    }

    input {
        width: 100%;
        padding: 1rem;
        outline: none;
        border-radius: 10px;
        border: 1px solid #c4c4c4c4;
    }
    p {
        color: red;
    }
}
.btnHolder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .goBtn {
        border: none;
        outline: none;
        background-color: blue;
        color: #ffffff;
        border-radius: 23.31px;
        box-shadow: $shadow;
        padding: 1.4rem 3rem;
        transition: 0.3s ease-in-out;
        width: 100%;

        font-weight: 400;
        font-size: 1.8rem;
        line-height: 2.1rem;
        text-align: center;

        &:hover {
            transform: scale(1.05);
        }
    }
}
