@import "../../../App.scss";

section {
    border-bottom: 1px solid $grey;
}

.wrapper {
    display: flex;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.right {
    @include flex-center;
    justify-content: space-around;
}

.logo {
    img {
        width: 100%;
    }
}

.btn {
    @include flex-center;
    background-color: $green;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    border: none;
    position: relative;
    img{
        width: 2.5rem;
    }
    .quantity{
        @include flex-center;
        position: absolute;
        width: 1.6rem;
        height: 1.6rem;
        font-size: 1.2rem;
        color: #fff;
        background-color: crimson;
        font-family: 'Fira-sans', sans-serif;
        border-radius: 50%;
        top: -0.5rem;
        right: -0.5rem;
    }
}

.sideMenu {
    display: none;
    width: 6rem;
    background-color: transparent;
    border: none;
    outline: none;
}
@media screen and (max-width: 575px) {
    .right{
        justify-content: flex-end;
        .btn{
            display: none;
        }
    }
    .sideMenu{
        display: block;
        img{

            margin-left: -2rem;
        }
    }
}

@media screen and (max-width: 575px) {
    .search{
        display: none;
    }
}