@import "../../App.scss";

.imgWrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 2rem;
}
.imgs{
    width: 100%;
    border-radius: 10px;
    max-width: 30.7rem;
    cursor: pointer;
    &:first-child{
        z-index: 10;
    }
}
.img3{
    max-width: 130%;
    width: 37.7rem;
    border-radius: 10px;
    margin-left: -12rem;
    z-index: 5;
    cursor: pointer;
}

@media screen and (max-width: 769px) {
    .img3{
        margin-left: -100px;
    }
}
@media screen and (max-width: 425px) {
    .img3{
        margin-left: -12rem;
    }
}


