@import "../../App.scss";

.wrapper {
    padding: 1.6rem;
    box-shadow: $shadow;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.description {
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
    margin: 2.4rem 0;
    padding: 0.8rem 0;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
}
.contentWrapper {
    border-bottom: 1px solid $grey;
}

.content {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #ababab;
}
.price {
    text-align: end;
    font-size: 2.4rem;
    font-family: "Fira sans", sans-serif;
}
.contentTotal,
.title {
    font-weight: 500;
    font-size: 2.8rem;
    line-height: 3.3rem;
    border-bottom: 1px solid $grey;
}
.priceTotal {
    font-family: "Fira sans", sans-serif;
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 3.3rem;
    text-align: end;

    color: #96c33d;
}
.btnHolder {
    margin: auto;
    width: 20rem;
}
